<div class="footer">
    <div class="container">
    <ul class="pull-left footer-menu">
        <li>
            <%= link_to "Accueil", root_path %>
            <%= link_to "FAQ", faq_path %>
            <%= link_to "Contact", contact_path %>
        </li>
    </ul>
    <ul class="pull-right footer-menu">
        <li> &copy; 2016 Adib </li>
    </ul>
    </div>
</div>