<header class="navbar navbar-default navbar-fixed-top navbar-top">
    <div class="container">
    <div class="navbar-header">
      <%= link_to root_path, {class:"navbar-brand"} do %>
          <span class="logo"><i class="fa fa-car"></i> RENTACar.MA</span>
      <% end %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="new-ads">
          <%= link_to espace_clients_path, {class:"btn btn-ads btn-block"} do %>
          <i class="fa fa-home fa-lg"></i> Espace clients
          <% end %>
        </li>
          <li><%= link_to "Faq", faq_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</header>