<header  class="navbar navbar-default navbar-fixed-top  navbar-top">
  <div class="container">
      <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      <%= link_to root_path, {class:"navbar-brand"} do %>
          <span class="logo"><i class="fa fa-car"></i> HAPPYCAR.MA</span>
      <% end %>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <li class="new-ads">
                <%= link_to espace_clients_path, {class:"btn btn-ads btn-block"} do %>
                <i class="fa fa-home fa-lg"></i> Espace clients
                <% end %>
              </li>
              <li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
Agences &nbsp;<span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a href="/villes/agadir">Agadir</a></li>
<li><a href="/villes/casablanca">Casablanca</a></li>
<li><a href="/villes/rabat">Rabat</a></li>
<li><a href="/villes/tanger">Tanger</a></li>
<li><a href="/villes/marrakech">Marrakech</a></li>
<li><a href="/villes/all">tous</a></li>
</ul>
                </li>
              <li><%= link_to "Faq", faq_path %></li>
              <li><%= link_to "Contact", contact_path %></li>
          </ul>
      </div>
  </div>
</header>