<div class="row">
    <div class="col-md-4 col-sm-4">
            <h1 class="heading">
                Aperçu sur nos offres
            </h1>
            <!-- PERSONAL -->
            <div class="block personal fl">
                <h2 class="title">personnel</h2>
                <!-- CONTENT -->
                <div class="content">
                    <p class="price">
                        <sup>Dh</sup>
                        <span>0</span>
                        <sub>/6mo.</sub>
                    </p>
                    <p class="hint">Coup de pouce pour les petites agences</p>
                </div>
                <!-- /CONTENT -->
                <!-- FEATURES -->
                <ul class="features">
                    <li><span class="fa fa-car"></span>2 annonces</li>
                    <li><span class="fa fa-calendar-check-o"></span>Gestion des résévations.</li>
                    <li><span class="fa fa-comment"></span>Suivie des avis</li>
                    <li><span class="fontawesome-bar-chart"></span>Suivie des statistiques</li>
                    <li><span class="fa fa-envelope"></span>Email personnalisé</li>
                    <li><span class="fa fa-life-ring"></span>Support technique/commerciale</li>
                </ul>

                <!-- /FEATURES -->
                <!-- PT-FOOTER -->
                <a href="#" class="popup-with-zoom-anim">
                <div class="pt-footer">
                    <p>Lancer ma campagne</p>
                </div>
            </a>
                <!-- /PT-FOOTER -->
            </div>
            <!-- /PERSONAL -->
            <!-- PROFESSIONAL -->
    </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="widget">
                                        <div class="widget-header">
                                            <h3>Contactez-nous</h3>
                                        </div>
                                        <div class="widget-body">
                                                <input type="hidden" name="email[voiture_id]" value="0">
                                                <input type="hidden" name="email[receiver_email]" value="adib.amine.mdr@gmail.com">
                                                <p>Si vous avez une question, n'hesitez pas à nous envoyer un message!</p>
                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        <input name="email[nom]" type="text" placeholder="Nom complet" class="form-control input-lg">
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <input name="email[sender_email]" type="text" placeholder="Email" class="form-control input-lg">
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <input name="email[objet]" type="text" placeholder="Objet" class="form-control input-lg">
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <textarea name="email[contenu]"  rows="5" placeholder="Votre message..." class="form-control"></textarea>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <button type="submit" class="btn btn-lg btn-custom pull-right">Envoyer</button>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>